<button class="ai-toggle-btn" 
        #aiBtn
        (mousedown)="onBtnDragStart($event)"
        (click)="onBtnClick($event)"
        [style.left.px]="btnPosition.x" 
        [style.top.px]="btnPosition.y"
        matTooltip="Trợ lý AI">
    <mat-icon class="ai-icon" [class.rotate]="isOpen">{{ isOpen ? 'close' : 'smart_toy' }}</mat-icon>
</button>

<div class="ai-box"
    [class.open]="isOpen"
    [style.left.px]="boxPosition.x"
    [style.top.px]="boxPosition.y">
    
    <div class="ai-header">
        <div class="header-title">
            <mat-icon>psychology</mat-icon> HR Assistant AI
        </div>
        <div class="close-btn"(click)="toggleAi()"><mat-icon>remove</mat-icon></div>
    </div>

    <div class="ai-messages" #scrollMe>
        <div *ngFor="let msg of messages" class="message-wrapper" 
            [ngClass]="{'user': msg.sender === 'user', 'ai': msg.sender === 'ai'}">
            <div class="avatar-icon" *ngIf="msg.sender === 'ai'">
                <mat-icon>smart_toy</mat-icon>
            </div>

            <div class="chat-bubble">
                <span [innerHTML]="formatText(msg.text)"></span>
            </div>
        </div>
        <div *ngIf="isLoading" class="message-wrapper ai">
            <div class="avatar-icon">
                <mat-icon>smart_toy</mat-icon>
            </div>
            <div class="chat-bubble typing">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
    </div>
    <div class="ai-footer">
    <input type="text"
            [(ngModel)]="userInput"
            (keyup.enter)="sendMessage()"
            placeholder="Hỏi AI về chính sách..."
            [disabled]="isLoading">
                <button class="send-btn" (click)="sendMessage()" [disabled]="!userInput.trim() || isLoading">
        <mat-icon>send</mat-icon>
    </button>
</div>
</div>